<!DOCTYPE html>
<html>
<head>
    <title>QuickCart</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'store/style.css' %}">
    <link href="https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;500;600;700;800&family=Playfair+Display:wght@400;500;600;700&display=swap" rel="stylesheet">
</head>
<body>

<nav>
    <div class="logo">QuickCart</div>
    
    <div class="nav-links">
        <a href="/" class="active">Home</a>
        <a href="/cart/">Cart</a>
    </div>

    <div class="nav-auth">
        {% if user.is_authenticated %}
            <a href="/logout/" class="auth-link">Logout</a>
        {% else %}
            <a href="/login/" class="auth-link">Login</a>
            <a href="/register/" class="auth-btn">Register</a>
        {% endif %}
    </div>
</nav>

{% block content %}
{% endblock %}

</body>
</html>